@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Transaction Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Salary
            </th>
            <td>16000</td>
            <td>2005-01-24</td>
        </tr>
        <tr>
            <th>Rent</th>
            <td>-6000</td>
            <td>2008-11-04</td>
        </tr>
        <tr>
            <th>Food</th>
            <td>-3000</td>
            <td>2011-11-11</td>
        </tr>
        <tr>
            <th>Phone bill</th>
            <td>-250</td>
            <td>1993-02-15</td>
        </tr>
    </tbody>
</table>
